h4 {
    font-weight: 600; 
    color: green; 
    font-size: large;
}

#nav-verification-tab{
    color: darkgreen;
    font-weight: 700;
}

#nav-information-tab{
    color: olivedrab;
    font-weight: 700;
}

.theList{
    list-style-position: inside; /* Set the position of the bullets inside the list items */
    direction: rtl; /* Set the text direction to right-to-left */
    text-align: left; /* Align the text to the left */
}

.theList li {
    color: #949492; /* Change the color of the text next to the bullet point */
}

.theList li::marker {
    color: #09504A; /* Change the color of the bullet point */
    font-size: 20px;
}

.phoneNumber {
    direction: ltr; /* Set the text direction to left-to-right for the phone number */
    color: #949492; /* Change the color of the phone number */
    unicode-bidi: embed;
}


.btn-checkbox {
    border: 1px solid #ced4da; /* Add border */
    background-color: #E3E1D6;
    margin-right: 5px; /* Add some margin between buttons */
}
  
.btn-checkbox.active {
    background-color: #84BC26; /* Change background color when active */
    color: #fff; /* Change text color when active */
}
  
.btn-checkbox:focus {
    box-shadow: none; /* Remove focus box */
    outline: none; /* Remove outline */
}