<!-- <div class="container"> -->
    <ng-container *ngIf="type !== 'phone'">
        <input 
            type={{type}}
            [class.is-invalid]="control.touched && control.invalid"
            class="form-control" 
            [formControl]="control"
            placeholder={{label}}
        >
        <div class="invalid-feedback" *ngIf="control.errors?.['required']">
            ينقصك {{label}}
        </div>
        <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">
            طول {{label}} يجب أن يكون  {{control.errors?.['minlength'].requiredLength}} أحرف أو أكثر
        </div>
        <div class="invalid-feedback" *ngIf="control.errors?.['notMatching']">
            كلمات السر غير متطابقة
        </div>
        <div class="invalid-feedback" *ngIf="control.errors?.['pattern'] && type === 'email'">
            الرجاء إدخال عنوان بريد إلكتروني صحيح
        </div>
        <div class="invalid-feedback" *ngIf="control.errors?.['pattern'] && type === 'password'">
            الرجاء إدخال كلمة المرور تحتوي على حرف كبير ورقم واحد و رمز واحد على الأقل
        </div>
    </ng-container>

    <ng-container *ngIf="type === 'phone'">
        <ngx-intl-tel-input
            [onlyCountries]="onlyCountries"
            [enableAutoCountrySelect]="false"
            [enablePlaceholder]="true"
            [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.Tunisia"
            [maxLength]="15" 
            [phoneValidation]="true"
            [separateDialCode]="separateDialCode"
            [numberFormat]="PhoneNumberFormat.National"
            [class.is-invalid]="control.touched && control.invalid"
            class="form-control" 
            [formControl]="control"
        ></ngx-intl-tel-input>
        <div class="invalid-feedback" *ngIf="control.errors?.['required']">
            ينقصك {{label}}
        </div>
        <div class="invalid-feedback" *ngIf="control.invalid && !control.errors?.['required']">
            تثبت من رقم الهاتف
        </div>
    </ng-container>
<!-- </div> -->