<div class="row mb-3">
    <app-dashboard-header></app-dashboard-header>
</div>
<div class="row mb-3">
    <full-calendar [options]="calendarOptions"></full-calendar>
</div>
<div class="row mb-3">
    <div class="container float-center">
        <div class="row cards float-center">
            <div class="col-lg-4">
                <div class="card-container">
                    <div class="card" style="width: 25rem;">
                        <img src="assets/images/calendar_img.png" class="card-img-top" alt="...">
                        <div class="card-body" style="background-color: darkseagreen;">
                          <h5 class="card-title text-center fw-bold">هل تحتاج تحاليل تربة</h5>
                         
                          <a (click)="goTodemandeAppointment()" class="btn btn-light float-center fw-bold">نعم</a>
                        </div>
                      </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card-container">
                    <div class="card" style="width: 25rem;">
                        <img src="assets/images/calendar_img.png" class="card-img-top" alt="...">
                        <div class="card-body" style="background-color: darkseagreen;">
                          <h5 class="card-title text-center fw-bold">هل تحتاج إلى مختص</h5>
                          
                          <a (click)="goTodemandeAppointment()" class="btn btn-light float-center fw-bold">نعم</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>