<div class="container">
    <div class="row">

    <!-- Left Side -->

        <div class="col-lg-6 d-flex justify-content-center auth-left-side">
            <app-auth-left-carousel></app-auth-left-carousel>
        </div>

    <!-- Right Side -->

        <div *ngIf="loginMode" class="col-lg-6 d-flex align-items-center justify-content-center">
            <app-login (profileChoice)="showProfileChoice($event)" (resetPassword)="showResetPassword($event)"></app-login>
        </div>        

        <div *ngIf="profileChoiceMode" class="col-lg-6 d-flex align-items-center justify-content-center">
            <app-profile-choice (register)="showRegister($event)"></app-profile-choice>
        </div>

        <div *ngIf="registerMode" class="col-lg-6 d-flex align-items-center justify-content-center">
            <app-register [chosenProfile]="this.profilechosen"></app-register>
        </div>

        <div *ngIf="resetPasswordMode" class="col-lg-6 d-flex align-items-center justify-content-center">
            <app-reset-password></app-reset-password>
        </div>

    </div>
</div>