<div class="container">
    <div class="row">

    <!-- Left Side -->

        <div class="col-lg-6 d-flex justify-content-center auth-left-side">
            <app-auth-left-carousel></app-auth-left-carousel>
        </div>

    <!-- Right Side -->

        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            
            <div class="text-center">
                
                <div class="row mb-4">
                    <div class="col-md-12">
                        <img src="assets/images/logo.png" alt="Logo" class="rounded float-end">
                    </div>
                </div>

                <ng-container *ngIf="loginMode">
                    <app-login (profileChoice)="showProfileChoice($event)" (resetPassword)="showResetPassword($event)"></app-login>
                </ng-container>    
        
                <ng-container *ngIf="profileChoiceMode">
                    <app-profile-choice (register)="showRegister($event)" (returnLogin)="showLogin($event)"></app-profile-choice>
                </ng-container>

                <ng-container *ngIf="registerMode">
                    <app-register [chosenProfile]="this.profilechosen"></app-register>
                </ng-container>

                <ng-container *ngIf="resetPasswordMode">
                    <app-reset-password (returnLogin)="showLogin($event)"></app-reset-password>
                </ng-container>

                <div class="row">
                    <div class="col-md-10 mt-2">
                        <img src="assets/images/pana.png" alt="" class="img-fluid mb-4">
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>