<div class="head">
    <div class="head-content">
        <div class="card text-white gradient-bg">
            <div class="row align-items-center" style="height: 100%;">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="text-center">
                                <p *ngIf="showListAgriculteurs" class="p-2 bg fw-bold fs-4">عدد الفلاحة المتعاقد معهم<span>: {{ agriculteursCount }}</span> </p>
                                <!-- <p class="p-2 bg fw-bold fs-5">عدد الممولين المتعاقد معهم<span>: {{ 0 }}</span> </p> -->
                                <p *ngIf="showListIngenieurs" class="p-2 bg fw-bold fs-4">عدد المهندسين المتعاقد معهم<span>: {{ engineersCount }}</span></p>
                                <!-- <p class="p-2 bg fw-bold fs-5">عدد المخابر المتعاقد معهم<span>: {{ 0 }}</span></p> -->

                                
                            </div>
                        </div>
                        <div class="text-end">
                            <div class="row">
                                <label class="fs-2 fw-bold float-end" style="color: darkgreen;">{{ listName }}</label>
                            </div>
                            <div class="row justify-content-end">
                                <button class="btn btn-lg btn-light p-2 bg fw-bold mt-4 col-lg-2" type="button">إعدادات الحساب</button> 
                            </div>
                            <div class="row justify-content-end mb-3">
                                <button class="btn btn-lg btn-light p-2 bg fw-bold mt-4 col-lg-2" type="button"> تعديل الصفحة الرئيسية</button>                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-3 mb-3">
                    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
                        <i class="fas fa-user-circle fa-10x" style="opacity: 0.65;"></i> <!-- Font Awesome user icon -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row col-md-12 mb-4">
    <div class="col-md-7">
        <label class="fs-2 fw-bold float-end" style="color: darkgreen;">{{ listName }}</label>
    </div>

    <div class="col-md-4">
        <ng-select [items]="choixList" bindLabel="label" bindValue="label" name="choixList"
        [multiple]="false" placeholder="إختر قائمة" class="col-md-5 text-end float-end fs-5 fw-bold"
        clearAllText="Clear" (change)="onChoixListChange($event)">
        </ng-select>
    </div>
</div>
<div class="body">
    <table *ngIf="showListAgriculteurs" class="table table-hover">
        <thead>
            <tr>
                <th class="fw-bold text-end"></th>
                <th class="fw-bold text-end"></th>
                <th class="fw-bold text-end">الحالة</th>
                <th class="fw-bold text-end">رقم الهاتف</th>
                <th class="fw-bold text-end">تاريخ التعاقد</th>
                <th class="fw-bold text-end">الولاية</th>
                <th class="fw-bold text-end">إسم الفلاح</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agriculteur of agriculteurs">
                <td class="text-end">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success fw-bold" (click)="openModal(modalContent)">
                            حذف
                        </button>
                    </div>
                </td>
                <td class="text-end">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success fw-bold">
                            تعديل
                        </button>
                    </div>
                </td>
                <td class="text-end">

                    {{ agriculteur.statut }}

                </td>
                <td class="text-end">

                    {{ agriculteur.phoneNumber }}

                </td>
                <td class="text-end">

                    {{ agriculteur.dateContrat }}

                </td>
                <td class="text-end">

                    {{ agriculteur.gouvernorat }}

                </td>
                <td class="text-end">

                    {{ agriculteur.lastName }} {{agriculteur.firstName}}

                </td>
            </tr>
        </tbody>
    </table>

    <table *ngIf="showListIngenieurs" class="table table-hover">
        <thead>
            <tr>
                <th class="fw-bold text-end"></th>
                <th class="fw-bold text-end"></th>
                <th class="fw-bold text-end">الحالة</th>
                <th class="fw-bold text-end">رقم الهاتف</th>
                <th class="fw-bold text-end">تاريخ التعاقد</th>
                <th class="fw-bold text-end">الولاية</th>
                <th class="fw-bold text-end">إسم المهندس </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let engineer of engineers">
                <td class="text-end">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success fw-bold" (click)="openModal(modalContent)">
                            حذف
                        </button>
                    </div>
                </td>
                <td class="text-end">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success fw-bold">
                            تعديل
                        </button>
                    </div>
                </td>
                <td class="text-end">

                    {{ engineer.statut }}

                </td>
                <td class="text-end">

                    {{ engineer.phoneNumber }}

                </td>
                <td class="text-end">

                    {{ engineer.dateContrat }}

                </td>
                <td class="text-end">

                    {{ engineer.gouvernorat }}

                </td>
                <td class="text-end">

                    {{ engineer.lastName }} {{engineer.firstName}}

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <ng-template #modalContent let-modal>
        <div class="modal-header float-end bg-light">
            <h5 class="modal-title text-end fw-bold" style="color: darkgreen;">حذف الفلاح</h5>
            <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-light">
            <div class="row col-md-12">
                <div class="form-check form-switch">
                    <input class="form-check-input col-md-7" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label text-end fw-bold col-md-5" for="flexSwitchCheckChecked">حذف الفلاح
                        كليا</label>
                </div>
            </div>

            <div class="row text-center col-md-12">
                <p class="fs-6">لا يمكن إعادة المستخدم في المستقبل</p>
            </div>
        </div>
        <div class="modal-footer bg-light">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">الإلغاء</button>
            <button type="button" class="btn btn-success">حفظ وإغلاق</button>
        </div>
    </ng-template>
</div>