<div class="card-container">
    <div class="card">
        <div class="card-bg" style="background-image: url('assets/images/Rectangle 1915.png');"></div>
        <div class="card-body">
            <div (click)="toggleForm()" class="outer-image">
                <img src="assets/images/Avatar.png" alt="Image de la carte" class="img-fluid float-center outer-img">
                <div class="inner-image">
                    <img src="assets/images/+.png" alt="Image intérieure" class="inner-img">
                </div>
                <div>
                    <label class="text">إضافة أرض جديدة</label>
                </div>
            </div>
        </div>
    </div>
</div>