<div class="bg-primary text-white d-flex align-items-center justify-content-center"
    style="background-image: url('assets/images/Rectangle 200.png'); background-size: cover;">
    <div class="text-center">
        <a href="https://example.com">
            <img src="assets/images/accueil 1.png" alt="" class="img-fluid float-start">
        </a>
        <div class="row float-end col-md-8">
            <p style="font-weight: 1500px; font-size: 35px;"><b>مرحبا بيك في أول منصة</b></p>
        </div>
        <div class="col-md-3 mb-3">

        </div>
        <div class="row mb-3 float-start col-md-8">
            <p style="font-size: 30px; color: darkgreen; font-weight: 900px;">للمرافقة العلمية الفلاحية</p>
        </div>
        <img src="assets/images/mask image (1).png" alt="" class="img-fluid me-3">
    </div>
</div>