 <!-- Partie gauche avec l'image et le texte -->
 <div class="text-center">
     <a href="https://example.com">
         <img src="assets/accueil 1.png" alt="" class="img-fluid float-start">
     </a>
     <div class="row  float-end">
         <p style="font-weight: 1500px; font-size: 35px;"><b>مرحبا بيك في أول منصة</b></p>
     </div>
     <div class="row mb-4 float-start">
         <p style="font-size: 30px; color: darkgreen; font-weight: 900px;">للمرافقة العلمية الفلاحية</p>
     </div>
     <img src="assets/mask image (1).png" alt="" class="img-fluid me-3">
 </div>
