<div class="container mt-5">
    <div *ngIf="registerMode === false && loginMode === false" style="text-align: center;">
        <h1>Home</h1>
        <p class="lead">Testing !</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
            <button (click)="LoginToggle()" class="btn btn-primary btn-info btn-lg">Login</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <!-- <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register> -->
            </div>
        </div>
    </div>

    <div *ngIf="loginMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <!-- <app-login (cancelLogin)="cancelLoginMode($event)"></app-login> -->
            </div>
        </div>
    </div>

</div>
