<div class="container-fluid">
    <div class="row">
        <!-- Partie gauche avec l'image et le texte -->
        <div class="col-md-6 bg-primary text-white d-flex align-items-center justify-content-center"
        style="background-image: url('assets/Rectangle 200.png'); background-size: cover;">
            <app-formulaire (onSubmit)="traiterFormulaire($event)"></app-formulaire>
        </div>

        <!-- Partie droite avec le formulaire de connexion -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <form class="text-center">
                <div class="row mb-4">
                    <div class="col-md-12 text-center">
                        <img src="assets/logo sent-04 3 (1).png" alt="Logo" class="rounded float-end">
                    </div>
                </div>

                <div class="col-md-11">
                    <a href="">
                        <p class="text-end">?هل أنت</p>
                    </a>
                </div>

                <div class="row mb-3">
                    <div class="col-md-1">

                    </div>
                    <div class="d-grid gap-2 col-9 mx-auto text-center">
                        <button type="submit" class="btn btn-success btn-lg">صاحب مشروع فلاحي</button>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-1">

                    </div>
                    <div class="d-grid gap-2 col-9 mx-auto text-center">
                        <button type="submit" class="btn btn-success btn-lg">صاحب مكتب دراسات فلاحية</button>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-1">

                    </div>
                    <div class="d-grid gap-2 col-9 mx-auto text-center">
                        <button *ngIf="afficherButton" type="submit" class="btn btn-success btn-lg"
                            (click)="afficherListe()">غيرها</button>
                            <div class="list-group" *ngIf="afficherListeFlag">
                                <a href="#" class="btn btn-success btn-lg mb-3">مخبر تحاليل</a>
                                <a href="#" class="btn btn-success btn-lg mb-3">باكورات</a>
                                <a href="#" class="btn btn-success btn-lg mb-3">داعم مالي
                                </a>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-10">
                        <img src="assets/pana.png" alt="" class="img-fluid mb-4">
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>