<div class="row">
    <div class="col-lg-4 d-flex justify-content-center align-items-center auth-left-side">
        <app-auth-left-carousel></app-auth-left-carousel>
    </div>
    <div class="col-lg-8 d-flex flex-column ">
        <div class="row">
            <div class="button-container col-lg">
                <button class="btn btn-md" type="button" (click)="clickBackToDemandeForm()">
                    <img src="assets/images/logout.png" width="" /><span style="margin-left: 10px; color: #09504A;"
                        class="fw-bold">رجوع إلى الوراء </span>
                </button>
            </div>

            <div class="col-lg-4 text-end">
                <img src="assets/images/logo.png">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs justify-content-end fs-5 fw-bold mb-3" id="nav-tab" role="tablist">
                        <button [disabled]="true" class="nav-link" style="color: #44936B;" id="nav-verification-tab"
                            data-bs-toggle="tab" data-bs-target="#nav-verification" type="button" role="tab"
                            aria-controls="nav-verification" aria-selected="true">
                            التثبت.III
                        </button>
                        <button [disabled]="true" class="nav-link" id="nav-rendez-vous-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-rendez-vous" style="color: #44936B;" type="button" role="tab"
                            aria-controls="nav-rendez-vous" aria-selected="false">
                            الموعد.II
                        </button>
                        <button [disabled]="true" class="nav-link" id="nav-demande-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-demande" style="color: #44936B;" type="button" role="tab"
                            aria-controls="nav-demande" aria-selected="true">
                            الطلب.I
                        </button>
                    </div>
                </nav>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <ng-container *ngIf="afficherContenuDem" id="nav-demande" role="tabpanel"
                    aria-labelledby="nav-information-tab">
                    <div class="row col-md-12 text-end" style="color: #84BC26;">
                        <h4 class="fw-bold">
                            .قبل ما تعمر إستمارة الموعد متاعك٬ نذكروك إلي كل ما تكون المعلومات إلي تدخلهم دقيقة و واضحة
                        </h4>
                    </div>
                    <div class="row col-md-12 text-end" style="color: #84BC26;">
                        <h4 class="fw-bold">
                            .كل ما تكون المنصة قادرة أنها تستجيب للطلب متاعك بنجاعة
                        </h4>
                    </div>
                </ng-container>

                <ng-container *ngIf="afficherContenuDem" id="nav-demande" role="tabpanel">
                    <form [formGroup]="demandeForm" (ngSubmit)="demandeForm.valid" autocomplete="off">
                        <div class="row mb-3 justify-content-end" style="color: #44936B;">
                            <div class="col-md-5 fw-bold fs-5">
                                <label>
                                    إختار المجال أو المجالات إلي تحب يعاونك فيهم المختص
                                </label>
                            </div>
                            <div class="col-md-3 fw-bold fs-5">
                                <label class="mx-4 float-end">
                                    حدد المختص إلي تحب تقابلو
                                </label>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-8">
                                <div class="col-lg-12 align-items-end">
                                    <div class="form-check" *ngFor="let domaine of domaines">
                                        <input class="form-check-input float-end" 
                                               type="radio" 
                                               name="domaines" 
                                               [id]="domaine.id" 
                                               [value]="domaine.value" 
                                               (click)="logSelectedDomaine(domaine.id)"
                                               formControlName="domaines"
                                               [(ngModel)]="selectedDomaine">
                                        <label class="form-check-label mx-4 float-end" [for]="domaine.id">
                                            {{ domaine.label }}
                                        </label>
                                    </div>
                                    <app-text-input class="float-end" *ngIf="afficherInputAutre"
                                        [formControl]="$any(demandeForm.controls['autrePlantationDomaines'])"
                                        [label]="'الرجاء التحديد أكثر'" name="autrePlantationDomaines"
                                        [type]="'autrePlantationDomaines'"></app-text-input>
                                </div>
                                

                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-lg-11 align-items-end">
                                        <div class="form-check" *ngFor="let specialiste of specialistes">
                                            <input class="form-check-input float-end" 
                                                   type="radio" 
                                                   name="specialistes" 
                                                   [id]="specialiste.id" 
                                                   [value]="specialiste.value" 
                                                   (click)="logSelectedSpecialiste(specialiste.id)"
                                                   formControlName="specialistes"
                                                   [(ngModel)]="selectedSpecialiste">
                                            <label class="form-check-label mx-4 float-end" [for]="specialiste.id">
                                                {{ specialiste.label }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4 fw-bold fs-5 col-md-12 justify-content-end" style="color: #44936B;">
                            <div class="col-md-4 float-end">
                                <ng-select 
                                [items]="typeCultures"
                                name="typeCulturesArray"
                                bindLabel="label"
                                bindValue="label"
                                [(ngModel)]="plantationSelected"
                                [multiple]="false"
                                placeholder="اختر نوع الزراعات"
                                clearAllText="Clear"
                                formControlName="typeCulturesArray">
                            </ng-select>
                            </div>
                            <div class="col-md-4">
                                <label class=" float-end">
                                    شنوما الزراعات إلي عندك
                                </label>
                            </div>
                        </div>

                        <div class="row mb-4 fw-bold fs-5 col-md-12 justify-content-end" style="color: #44936B;">
                            <div class="col-md-4 fw-bold fs-5">
                                <label>
                                    هل السؤال يهم واحد من المواضيع التالية؟ </label>
                            </div>
                            <div class="col-md-3 fw-bold fs-5">
                                <label class="mx-4 float-end mr-2">
                                    نوعية الفلاحة متاعك
                                </label>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-8">
                                <div class="col-lg-12 align-items-end">
                                    <div class="form-check" *ngFor="let sujet of sujets">
                                        <input class="form-check-input float-end" 
                                               type="radio" 
                                               name="sujets" 
                                               [id]="sujet.id" 
                                               [value]="sujet.value" 
                                               (click)="logSelectedSujet(sujet.id)"
                                               formControlName="sujets"
                                               [(ngModel)]="selectedSujet">
                                        <label class="form-check-label mx-4 float-end" [for]="sujet.id">
                                            {{ sujet.label }}
                                        </label>
                                    </div>
                                    <app-text-input class="float-end" *ngIf="afficherInputAutre2"
                                        [formControl]="$any(demandeForm.controls['autrePlantationQuestion'])"
                                        [label]="'الرجاء التحديد أكثر'" name="autrePlantationQuestion"
                                        [type]="'autrePlantationQuestion'"></app-text-input>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-lg-11 align-items-end">
                                    <div class="form-check" *ngFor="let type of types">
                                        <input class="form-check-input float-end" 
                                               type="radio" 
                                               name="typeAgricultures" 
                                               [id]="type.id" 
                                               [value]="type.value" 
                                               formControlName="typeAgricultures"
                                               (click)="logSelectedType(type.id)"
                                               [(ngModel)]="selectedType">
                                        <label class="form-check-label mx-4 float-end" [for]="type.id">
                                            {{ type.label }}
                                        </label>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="row mb-4 fw-bold fs-5 col-md-12 justify-content-end" style="color: #44936B;">
                            <div class="col-md-4 float-end">
                                <ng-select 
                                [items]="terrains"
                                bindLabel="label"
                                bindValue="label"
                                name="terrains"
                                [(ngModel)]="terrain"
                                [multiple]="false"
                                placeholder="اختر أرضك"
                                clearAllText="Clear"
                                formControlName="terrains">
                            </ng-select>
                                
                            </div>
                            <div class="col-md-4">
                                <label class=" float-end">
                                    الأرض موضوع الطلب
                                </label>
                            </div>
                        </div>

                        <div class="row mb-4 fw-bold fs-5 col-md-12 justify-content-end" style="color: #44936B;">

                            <div class="col-md-4">
                                <label class=" float-end">
                                    الرجاء تكتبلنا سؤالك للمختص
                                </label>
                            </div>
                        </div>

                        <div class="row fw-bold fs-5 col-md-12 justify-content-end" style="color: #44936B;">
                            <div class="col-md-2 border rounded">
                                <label for="formFile" class="form-label float-end">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-download" viewBox="0 0 16 16">
                                        <path
                                            d="M7.5 1a.5.5 0 0 1 .5.5v8.793l1.646-1.647a.5.5 0 0 1 .708.708l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5a.5.5 0 1 1 .708-.708L7 10.293V1.5a.5.5 0 0 1 .5-.5z" />
                                        <path d="M0 12.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z" />
                                    </svg>
                                    اضغط لإضافة ملف
                                </label>
                                <input class="form-control" name="file" type="file" id="formFile" value="file" formControlName="file"
                                    style="visibility: hidden; position: absolute;">

                            </div>

                            <div class="col-md-2 float-end">
                                <app-text-input class="float-end" [formControl]="$any(demandeForm.controls['question'])" name="question"
                                    [label]="'سؤالك ...'" [type]="'question'"></app-text-input>
                            </div>
                        </div>

                        <div class="row fw-bold fs-5 col-md-12 justify-content-end" style="color: #44936B;">
                            <div class="col-md-10 float-end">
                                <button type="button" (click)="SaveDemande()"
                                    class="btn btn-success rounded text-center col-md-5">تأكيد</button>

                            </div>
                        </div>
                    </form>
                </ng-container>
            
                <ng-container *ngIf="afficherContenuAppointmentDate" id="nav-rendez-vous" role="tabpanel"
                    aria-labelledby="nav-rendez-vous-tab">
                    <form [formGroup]="appointmentForm" (ngSubmit)="appointmentForm.valid" autocomplete="off">
                    <div class="row col-md-12 text-end mb-3" style="color: #09504A;">
                        <label class="fs-5 fw-bold">
                            كيفاش تحب تقابل الخبير؟
                        </label>
                    </div>
                    <div class="row col-md-12 text-end mb-4" style="color: #84BC26;">
                        <div class="col-lg-12 align-items-end">
                            <!-- Form check group -->
                            <div class="form-check" *ngFor="let revoirOption of revoirOptions">
                              <input class="form-check-input float-end"
                                     type="radio"
                                     name="methodeRevoir"
                                     [id]="revoirOption.id"
                                     (click)="logSelectedRevoir(revoirOption.id)"
                                     [value]="revoirOption.label"
                                     formControlName="methodeRevoir"
                                     [(ngModel)]="selectedRevoirOption">
                              <label class="form-check-label mx-4 float-end" [for]="revoirOption.id">
                                {{ revoirOption.label }}
                              </label>
                            </div>
                          </div>
                          
                    </div>

                    <div class="row col-md-12 text-end mb-3" style="color: #09504A;">
                        <label class="fs-5 fw-bold">
                            إختار تاريخ وتوقيت الموعد </label>
                    </div>

                    <div class="row col-lg-3 float-end">
                        <div class="w-auto">
                            <bs-datepicker-inline [bsValue]="bsInlineValue" (bsValueChange)="onDateChange($event)"></bs-datepicker-inline>
                        </div>
                    </div>

                    <div class="row col-lg-5 float-end">
                        <div class="col-lg-8 align-items-end">
                            <!-- Form check group -->
                            <div class="form-check" *ngFor="let periode of periodes">
                              <input class="form-check-input float-end"
                                     type="radio"
                                     name="periodes"
                                     [id]="periode.id"
                                     [value]="periode.value" 
                                     formControlName="periodes"
                                     [checked]="periode.checked"
                                     [(ngModel)]="selectedPeriode"
                                     (click)="logSelectedPeriod(periode.id)"
                                     (change)="toggleTime(periode)">
                              <label class="form-check-label mx-4 float-end" [for]="periode.id">
                                {{ periode.label }}
                              </label>
                            </div>
                          </div>
                          
                    </div>

                    <ng-container *ngIf="afficherContenuAppointmentTime" id="nav-rendez-vous" role="tabpanel"
                        aria-labelledby="nav-rendez-vous-tab">
                        <timepicker [(ngModel)]="mytime" [hourStep]="hstep" [minuteStep]="mstep" [showSeconds]="false">
                        </timepicker>
                        <!-- <pre class="alert alert-info">Time is: {{mytime}}</pre> -->
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <table class="table table-bordered" style="border: white;">
                                        <thead>
                                            <tr>
                                                <th class="fw-bold">الساعة</th>
                                                <th class="fw-bold">الدقائق</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-success"
                                                            *ngFor="let hour of options.hstep"
                                                            [ngClass]="{ 'btn-selected': hour === selectedHour }"
                                                            formControlName="heure"
                                                            (click)="selectHour(hour)">
                                                            {{ hour }}
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-success"
                                                            *ngFor="let minute of options.mstep"
                                                            [ngClass]="{ 'btn-selected': minute === selectedMinute }"
                                                            formControlName="minute"
                                                            (click)="selectMinute(minute)">
                                                            {{ minute }}
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="afficherContenuAppointmentTime2" id="nav-rendez-vous" role="tabpanel"
                        aria-labelledby="nav-rendez-vous-tab">
                        <timepicker [(ngModel)]="mytime" [hourStep]="hstep" [minuteStep]="mstep" [showSeconds]="false">
                        </timepicker>
                        <!-- <pre class="alert alert-info">Time is: {{mytime}}</pre> -->
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <table class="table table-bordered" style="border: white;">
                                        <thead>
                                            <tr>
                                                <th class="fw-bold">الساعة</th>
                                                <th class="fw-bold">الدقائق</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-success"
                                                            *ngFor="let hour of options2.hstep"
                                                            [ngClass]="{ 'btn-selected': hour === selectedHour }"
                                                            formControlName="heure"
                                                            (click)="selectHour(hour)">
                                                            {{ hour }}
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-success"
                                                            *ngFor="let minute of options2.mstep"
                                                            
                                                            formControlName="minute"[ngClass]="{ 'btn-selected': minute === selectedMinute }"
                                                            (click)="selectMinute(minute)">
                                                            {{ minute }}
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <div class="col-md-4" *ngIf="alertRequired">
                        <div class="alert alert-danger fw-bold fs-4 text-center" role="alert">
                            يجب تحديد التاريخ و التوقيت                          </div>
                        </div>

                    <div class="row col-lg-12">
                        <div class="col-md-10 mx-4 text-center">
                            <button [disabled]="!appointmentForm.valid" type="button" (click)="DoneAppointmentDate()"
                                class="btn btn-success rounded text-center col-md-5">تأكيد</button>

                        </div>
                    </div>
                </form>
                </ng-container>
                
                <ng-container *ngIf="afficherContenuVerif">
                    <ul class="col-md-11 text-end list-unstyled">
                        <li><strong>المختص إلي تحب تقابلو :</strong> {{ tempDemandeForm.specialiste }}</li>
                        <li><strong>المجال أو المجالات إلي تحب يعاونك فيهم المختص :</strong> {{ tempDemandeForm.domaine }}</li>
                        <li><strong> الزراعات إلي عندك :</strong> {{ tempDemandeForm.typeCulture }}</li>
                        <li><strong>نوعية الفلاحة متاعك :</strong> {{ tempDemandeForm.typeAgriculture }}</li>
                        <li><strong> الأرض موضوع الطلب :</strong> {{ tempDemandeForm.terrain }}</li>
                        <li><strong>السؤال يهم الموضوع :</strong> {{ tempDemandeForm.sujet }}</li>
                        <li><strong>سؤالك للمختص :</strong> {{ tempDemandeForm.question }}</li>
                        <li><strong>كيفاش تحب تقابل المختص :</strong> {{ tempAppointmentForm.methodeRevoir }}</li>
                        <li><strong>تاريخ وتوقيت الموعد :</strong> {{ formattedDate }} {{ tempAppointmentForm.heure}} : {{ tempAppointmentForm.minute}}</li>
                    </ul>       
                    <div class="row">
                        <div class="col-md-9 mt-4 justify-content-center">
                            <button (click)="clickConfirmDemandeForm()" type="button" class="btn btn-success rounded text-center col-md-5">تأكيد</button>
                        </div>                    
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>