<div class="container">
    <div class="row">

        <!-- Left Side -->

        <div class="col-lg-6 d-flex justify-content-center auth-left-side">
            <app-auth-left-carousel></app-auth-left-carousel>
        </div>

        <!-- Right Side -->

        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <form *ngIf="!(accountService.currentUser$ | async)" [formGroup]="confirmMailForm" class="text-center" (ngSubmit)="confirmMailForm.valid && resendEmailConfirmationLink()" autocomplete="off">
                <div class="row mb-4">
                    <div class="col-md-12 text-center">
                        <img src="assets/images/logo.png" alt="Logo" class="rounded float-end">
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12" *ngIf="!success">
                        <button class="txt btn btn-success btn-lg" type="button" (click)="BackToLogin()">العودة إلى تسجيل الدخول</button>
                    </div>
                    <div class="col-md-12" *ngIf="success">
                        <div class="row mb-4">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-8">
                                <app-text-input [formControl]="$any(confirmMailForm.controls['email'])" [label]="'عنوان البريد الإلكتروني'" [type]="'email'"></app-text-input>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-8 text-center">
                                <button [disabled]="!confirmMailForm.valid" class="txt btn btn-success btn-lg" type="submit">إعادة التأكد من البريد الالكتروني</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 mt-2">
                        <img src="assets/images/pana.png" alt="" class="img-fluid mb-4">
                    </div>
                </div>                
            </form>

        </div>        
    </div>
</div>