<div *ngIf="!showAdmin" class="card text-white gradient-bg">
    <div class="row align-items-center" style="height: 100%;">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-center">
                        <p class="p-2 bg fs-3 fw-bold">لا تملك أي حزمة بعد</p>
                        <p class="p-2 bg fs-5">مقابلات عن بعد متبقية <span>: {{ resteRendezVous }}</span> </p>
                        <p class="p-2 bg fs-5">زيارة مختص متبقية <span>: {{ resteVisite }}</span></p>
                        <p class="p-2 bg fs-5">تحاليل متبقية <span>: {{ resteAnalyses }}</span></p>
                    </div>
                </div>
                <div class="col-lg-6 text-end">
                    <h2 class="p-2 bg fs-1 fw-bold">مرحبا بك</h2>
                    <p class="p-2 bg fs-2 fw-bold">{{ currentUser.username }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3 mb-3">
            <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
                <i class="fas fa-user-circle fa-10x" style="opacity: 0.65;"></i> <!-- Font Awesome user icon -->
                <button class="btn btn-lg btn-light p-2 bg fw-bold mt-4" type="button" (click)="AccountSettings()">إعدادات الحساب</button>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngIf="showAdmin" class="card text-white gradient-bg">
    <div class="row align-items-center" style="height: 100%;">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-center">
                        <p class="p-2 bg fw-bold fs-5">عدد الفلاحة المتعاقد معهم<span>: {{ agriculteursCount }}</span> </p>
                        <p class="p-2 bg fw-bold fs-5">عدد الممولين المتعاقد معهم<span>: {{ resteRendezVous }}</span> </p>
                        <p class="p-2 bg fw-bold fs-5">عدد المهندسين المتعاقد معهم<span>: {{ engineersCount }}</span></p>
                        <p class="p-2 bg fw-bold fs-5">عدد المخابر المتعاقد معهم<span>: {{ resteAnalyses }}</span></p>
                    </div>
                </div>
                <div class="col-lg-6 text-end">
                    <h2 class="p-2 bg fs-1 fw-bold">مرحبا بك</h2>
                    <p class="p-2 bg fs-2 fw-bold">{{ currentUser.username }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3 mb-3">
            <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
                <i class="fas fa-user-circle fa-10x" style="opacity: 0.65;"></i> 
                <button class="btn btn-lg btn-light p-2 bg fw-bold mt-4" type="button" (click)="AccountSettings()">إعدادات الحساب</button>
            </div>
        </div>
    </div>
</div> -->
