<div class="card-container">
    <div class="card">
        <div class="card-bg" style="background-image: url('assets/images/Rectangle 1915.png');"></div>
        <div class="card-body">
            <!-- Contenu de la carte -->
            <div class="outer-image">
                <img src="assets/images/Avatar.png" alt="Image de la carte" class="img-fluid float-end outer-img">
                <div class="inner-image">
                    <img src="assets/images/profil-icone2 4.png" alt="Image intérieure" class="inner-img">
                </div>
            </div>
            <div>
                <p class="text-card"><b>مرحبا بك</b></p>
            </div>
            <div>
                <p class="text-card"><b>ألتوهامي بن فولان</b></p>
            </div>
            <div class="btn-sett">
                <button class="btn-lg btn btn-light" type="button" (click)="AccountSettings()">إعدادت الحساب </button>
            </div>
            <div>
                <img src="assets/images/logo sent-01 2.png" alt="Image intérieure" class="logo">
            </div>
            <ul class="row text-logo list-unstyled text-end">
                <li>
                    <p><b>الإشتراك الذهبي</b></p>
                </li>
                <li>
                    <p> مقابلات عن بعد متبقية
                    </p>
                </li>
                <li>
                    <p>زيارة مختص متبقية</p>
                </li>
                <li><p>تحاليل متبقية</p></li>
            </ul>
        </div>
    </div>
</div>