<div class="card-container">
    <div class="card">
        <div class="card-bg" style="background-color: white;"></div>
        <div class="card-body col-md-12">
            <div>
                <img class="img float-start" src="assets/images/pexels-mark-stebnicki-2886937 1.png" alt="">
            </div>
            <div class="col-md-5 row txt text-end">
                 تمتع بمرافقة علمية يقدمها  لك أفضل المختصين في مجالهم وبأحدث الوسائل المتطورة في الفلاحة الرقمية
            </div>
            
        </div>
    </div>
</div>