.settings-wrapper
{
    background-color: gainsboro;
    border-radius: 0.625rem;
}

.settings-title
{
    font-size: 4cap;
    font-weight: 900;
}

.settings-title-small
{
    font-size: 2.5cap;
    font-weight: 500;
}

.settings-paragraph
{
    position: relative;
    font-size: 1.8cap;
    font-weight: 50;
    max-width: 100%;
    color: gray;
}

.settings-input
{
    width: 130%;
    height: 18%;
    transform: translate(-23%, -40%);
}


.btn1
{
    width: 200%;
}


.txt
{
    font-weight: 600;
}