.h2
{
font-size: 4cap;
font-weight: 900;
}
.h5
{
font-size: 2.5cap;
font-weight: 500;
}
.p1
{
    position: relative;
    font-size: 1.8cap;
    font-weight: 50;
    max-width: 100%;
    color: gray;
}

.inp
{
width: 130%;
height: 18%;
transform: translate(-23%, -40%);
}
.img
{
height: 100vh;
top: -100%;
right: 200%;
}
.btn1
{
    width: 200%;
}
.input 
{
    border: none;
    background-color: gainsboro;
}
.color
{
    background-color: gainsboro;
}
.txt
{
    font-weight: 600;
}