<div class="row color">
    <div class="col-md-3 img">
        <img class="img" src="assets/images/panaSettings.png" alt="">
    </div>
    <div class="col-md-9">
        <form class="form">
            <div class="col-md-12">
                <div class="row">
                    <h2 class="h2 text-end">الإعدادات</h2>
                </div>
                <div class="row">
                    <h5 class="h5 text-end">حساب تعريفي</h5>
                </div>
                <div class="row">
                    <p class="p1 text-end">...... الاسم الأخير والاسم الأول وعنوان البريد الإلكتروني
                    </p>
                </div>
                <div class="row float-end">
                    <ul class="list-unstyled ">
                        <li class="inp input-group-lg col-md-12 mb-3">
                            <input type="text" class="form-control text-center" [(ngModel)]="model.username"
                                id="username" name="username">
                        </li>
                        <li class="inp input-group-lg col-md-14 mb-3">
                            <input type="text" class="form-control text-center" [(ngModel)]="model.username"
                                id="username" name="username">
                        </li>
                        <li class="inp input-group-lg col-md-12 mb-3">
                            <input type="email" class="form-control text-center" [(ngModel)]="model.email" id="email"
                                name="email">
                        </li>
                        <li class="float-end col-md-5">
                            <button type="button" class="btn-lg btn btn-success col-md-12">تحديث</button>
                        </li>
                    </ul>
                </div>
                <div class="row col-md-12 m">
                    <h5 class="h5 text-end">كلمة السر</h5>
                </div>
                <div class="row p1 float-end mb-3">
                    <input class="input col-md-5 float-end" type="text" [(ngModel)]="model.email" id="email"
                        name="email">
                    <label class="col-md-7 text-end">:عنوان بريدك الإلكتروني هو</label>
                </div>
                <div class="row col-md-12"></div>
                <div class="float-end col-md-4">
                    <ul class="list-unstyled ">
                        <li class="inp input-group-lg col-md-4 mb-3 float-end">
                            <input type="password" class="form-control text-center" placeholder="كلمة السر الحالية"
                                [(ngModel)]="model.password" id="username" name="username">
                        </li>
                        <li class="inp input-group-lg col-md-1 mb-3 float-end">
                            <input type="password" class="form-control text-center" placeholder="كلمة مرور جديدة"
                                [(ngModel)]="model.password" id="username" name="username">
                        </li>
                        <li class="float-end mb-3 col-md-5">
                            <button type="button" class="btn-lg btn btn-success col-md-12">تطوير كلمة السر</button>
                        </li>
                    </ul>
                </div>
                <div class="row col-md-12">
                    <h5 class="h5 text-end">الأرض المسجلة</h5>
                </div>
                <div class="float-end row col-md-5 mb-3">
                    <div class="col-md-5 float-end">
                        <button type="button" class="btn-lg btn btn-success">تطوير المعلومات الخاصة بالارض</button>
                    </div>
                    <div class="col-md-7 float-end">
                        <input type="text" class="form-control text-center" placeholder="الأرض المسجلة الحالية"
                            [(ngModel)]="model.username" id="username" name="username">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>