<form *ngIf="!(accountService.currentUser$ | async)" [formGroup]="resetPasswordForm" class="text-center" (ngSubmit)="resetPasswordForm.valid && login()" autocomplete="off">
    <div class="row mb-4">
        <div class="col-md-12 text-center">
            <img src="assets/images/logo.png" alt="Logo" class="rounded float-end">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-4">
        </div>
        <div class="col-md-8 form-floating-input-padding-b">
            <app-text-input [formControl]="$any(resetPasswordForm.controls['email'])" [label]="'عنوان البريد الإلكتروني'" [type]="'email'"></app-text-input>
        </div>
    </div>
    <div class="row mb-4 col-md-12">
        <div class="col-md-2">
        </div>
        <div class="col-md-10 text-center">
            <button [disabled]="!resetPasswordForm.valid" class="btn btn-success btn-lg" type="submit">إرسال طلب تغير كلمة السر إلى بريدي الإلكتروني</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mt-7">
            <img src="assets/images/pana.png" alt="" class="img-fluid mb-4">
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <!-- <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button> -->
</form>