<div class="container">
    
    <!-- Two Headers -->
    <div class="row justify-content-center">
        <div class="col-md-4 mt-4">
            <img src="assets/images/accueil.png" alt="Small Image" style="width: 50px; height: 50px; margin-right: 10px;">
        </div>
        <div class="col-md-8 float-end mt-4">
            <h2>مرحبا بيك في أول منصة</h2>
        </div> 
        <div class="row mb-4 mt-4 float-start col-md-8">
            <h4>للمرافقة العلمية الفلاحية</h4>
        </div>
    </div> 

    <!-- Photo Carousel -->
    <carousel>
        <slide>
            <img src="assets/images/mask_image_1.png" alt="first slide">
        </slide>
        <slide>
            <img src="assets/images/mask_image.png" alt="second slide">
        </slide>
        <slide>
            <img src="assets/images/imgpsh_fullsize_anim (3) 3.png" alt="third slide">
        </slide>
    </carousel>

</div>