<!-- Two Headers -->
<div class="text-center">
    <div class="row">
        <div class="col-md-4 mt-4">
            <img src="assets/images/accueil.png" alt="Small Image" style="width: 50px; height: 50px; margin-right: 10px;">
        </div>
        <div class="col-md-8 float-end mt-4">
            <h2 style="font-weight: 1500px; font-size: 35px;">مرحبا بيك في أول منصة</h2>
        </div>
    </div> 
    <div class="row mb-4 mt-4 float-start col-md-8">
        <h4 style="font-size: 30px; color: darkgreen; font-weight: 900px;">للمرافقة العلمية الفلاحية</h4>
    </div>
</div>

<!-- Photo Carousel -->
<carousel>
    <slide>
        <img src="assets/images/mask_image_1.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/mask_image.png" alt="second slide" style="display: block; width: 100%;">
    </slide>
</carousel>